<html>
<head>
	<link rel="stylesheet" href="application.css" type="text/css" />
</head>
	<h1>Welcome to Clashing Hashes</h1>
<!-- 	<% if @show_description %>
		<p>Some text goes here!</p>
	<% end %> -->

	<p><%=@tweets %></p>

	<form action="/twitter" method="post">
		<label>Hashtag 1</label><input type="text" name="hash1">
		<label>Hashtag 2</label><input type="text" name="hash2">
		<button id="submit-button">Submit</button>
	</form>

	<form action="/twitter" method="post">
		<label>New Hashtag to Track</label><input type="text" name="tag">
		<button id="submit-tag">Submit</button>
	</form>

	<div class="divider"></div>

	<h1>New Tweet</h1>
	<form action="/twitter" method="post">
		<label>Name</label><input type="text" name="user">
		<label>Tweet</label><input type="text" name="content">
		<button id="submit-tweet">Submit</button>
	</form>




</html>